$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$grey : #ccc;


.browsehappy {
  margin: 0.2em 0;
  background: $grey;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* CSS declarations go here */
.mainBody {
  left: 0;
  width: 100%;
  height: 100%;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.mainHome {
  float: left;
  background-color: #f8f8f8;
  position: relative;
  left: 0;
  width: 50%;
  height: 100vh !important;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    z-index: 6;
}

a:hover {
    text-decoration: none;
}

  h2 {
            font-size: 54px;
            color: white;
            position: relative;
            top: 50%;
            margin-top: -26px;
        }

.ClassPost,
.Whole_Top{
    margin: 17px;
    justify-content: center;
    align-items: center;
    display: block;
      position: relative;
    background-color: transparent;
    border: black solid 2px;
    height: 35%;
    text-align: center;
    transition: all .3s ease-in-out;
    &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    top: 0px;
    height: 10px;
    background: black;
  }
    &:hover {
    cursor: pointer;
    transform: scale(1);
    letter-spacing: 10px;
    transition: all .3s ease-in-out;
        &:after {
      width: 100%;
      left: 0;
    }

    }
}


.Whole_Top h1 {
  font-size: 54px;
  color: black;
  position: relative;
  top: 50%;
  margin-top: -26px;
}

.Whole_Bottom h1 {
  font-size: 54px;
  color: black;
  position: relative;
  top: 50%;
  margin-top: -26px;
}

.Whole_Bottom{

    margin: 17px;
    justify-content: center;
    align-items: center;
    display: block;
    position: flex;
    background-color:transparent;
    border: black solid 2px;
    height:35%;
    text-align: center;
    transition: .4s ease-in;

    &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 10px;
    background: black;
  }
    &:hover {
    cursor: pointer;
    transform: scale(1);
    letter-spacing: 10px;
        &:after {
      width: 100%;
      left: 0;
    }

    }
}


.titleHome {
    letter-spacing: 0.1em;
    left: 0;
    margin-left: 32px;
    margin-top: 32px;
}

.angle {
  border-top: #f8f8f8 100vh solid;
  border-right: transparent 60vh solid;
  width:50%;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  z-index: -1;
  right: 0;
}

//IXD main

.ClassPost {
  padding: 10px;
  background-color: white;
  height: 300px;
  text-align: left;
}

.IxdAnimation {
  height: 100%;
  width: 100%;
  background: white;
  padding: 40px;
}

#back-Btn a {
  display: block;
  position: relative;
  border-radius: 40px;
  height: 48px;
  width: 48px;
  background-color: white;
  text-align: center;
  padding-top: 13px;
  z-index: 1;
}

#back-Btn {
  top: 20px;
  display: block;
  position: relative;
  margin: 0px auto;
  border-radius: 40px;
  height: 48px;
  width: 48px;
  background-color: $grey;
  text-align: center;
  z-index: 1;
  &:after {
    border-radius: 60px;
    top: 0;
    left: 0;
    margin-top: -9px;
    margin-left: -9px;
    position: absolute;
    display: block;
    content: '';
    height: 66px;
    width: 66px;
    border-left: 20px solid black;
    border-top: 20px solid black;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
    z-index: -2;
    animation: spinnyBtn1 2.3s forwards infinite;
  }
  &:before {
    border-radius: 60px;
    top: 0;
    left: 0;
    margin-top: -5px;
  margin-left: -5px;
  position: absolute;
  display: block;
  content: '';
  height: 58px;
  width: 58px;
    border-left: 3px solid transparent;
    border-top: 3px solid transparent;
    border-right: 3px solid $grey;
    border-bottom: 3px solid $grey;
    z-index: -1;
    animation: spinnyBtn2 2.3s forwards infinite;
  }
}

@keyframes spinnyBtn1 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes spinnyBtn2 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.IxdAnimation h1 {
  font-family: monospace;
  letter-spacing: 2px;
  transition: letter-spacing 0.3s ease;
}

.IxdAnimation p a {
  text-decoration: underline;
  &:hover {
      color: $grey;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1300px){

  footer #rightSide {
  display: none;
    }

    footer .Menu {
        width: 100% !important;
    }

  .angle {
    border-top: #f8f8f8 100vh solid;
    border-right: transparent 50vh solid;
    width:50%;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    z-index: -1;
    right: 0;
  }
}


@media only screen and (min-width: 320px) and (max-width: 767px){
  .angle {
    border-top: #f8f8f8 100vh solid;
    border-right: transparent 30vh solid;
    width:50%;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    z-index: -1;
    right: 0;
  }

}

//iphone
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){


  .angle {
    border-top: rgba(0,0,0, 0.6) 100vh solid;
    border-right: transparent 50vh solid;
    width:100%;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    z-index: -1;
    right: 0;
  }

  .mainHome {
    opacity: 0.9;
    width: 100%;
  }

    nav {
      padding-left: 0px !important;
        height: 50px !important;
    }

    nav li {
        font-size: 30px;
        list-style: none;
    }

    .titleHome {
      margin-top: 15px;
    }

    .Whole_Top{
      height: 30%;
    }

    .Whole_bottom{
      height: 30%;

      &:after {
      position: absolute;
      transition: 0s;
      content: '';
    }

      &:hover {
      cursor: pointer;
      transform: scale(0);
      letter-spacing: 1px;

          &:after {
            width: 0;
            left: 50%;
      }

    }
}

}

@media all and (max-width: 500px) {
  .Whole_Top,
  .Whole_Bottom {
    height:200px;
  }
}
