

.pufferFish {
    background-color: #0d0dc6;
    height: 100%;
    width: 100%;
    position: fixed;
}

.Puffbody {
    left: 50%;
    margin-left: -200px;
    z-index: 2;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    height: 400px;
    width: 400px;
    border-radius: 400px;
    background-color: white;
    overflow: visible;
    animation-name: animate1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

 @keyframes animate1 {
    0%{

        transform: translatey(0px);
        background-color: bisque;
        width: 400px;
        height: 400px;
    }
    50%{

        transform: translatey(25px);
        background-color: white;
        width: 500px;
        height: 520px;
    }
    100%{

        transform: translatey(0px);
        background-color: bisque;
        width: 400px;
        height: 400px;
    }
}


.TopHead {
  position: inherit;
    height: 400px;
    width: 600px;
    background-image: url(../img/fish/top_head.png);
    background-size: auto;
    background-repeat: no-repeat;
    top: -70px;
    left: -50px;
    animation-name: animate2;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes animate2 {
    0%{
      left: -50px;
    }
    50%{
        left: 0px;
    }
    100%{
         left: -50px;
    }
}


.headshape {
        top: 50px;
    left: 57px;
    position: inherit;
    height: 400px;
    width: 400px;
    background-image: url(../img/fish/HeadShape.png);
    background-size: auto;
    background-repeat: no-repeat;
     animation-name: animateHeadShape;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;

}

@keyframes animateHeadShape {
    0%{
       top: 50px;
    }
    50%{
         top: 60px;
    }
    100%{
        top: 50px;
    }
}

.background {
    position: absolute;
    height:600px;
    width:100%;
    overflow: auto;
    background-size: auto;
    background-image: url(../img/fish/background.png);
    background-repeat: no-repeat;
}

.RightFin {
    transform: rotate(28deg);
    position: absolute;
    margin-left: 100px;
    left: 50%;
    margin-top: 0px;
    height: 300px;
    width: 300px;
    background-image: url(../img/fish/RightFin.png);
    background-size: auto;
    background-repeat: no-repeat;
    z-index: -1;
    animation-name: animateRightFin;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;

}

@keyframes animateRightFin {
    0%{
       transform: rotate(0deg);
        margin-left: 100px;
        margin-top: 0px;
    }
    50%{
         transform: rotate(10deg);
        margin-left: 80px;
        margin-top: -40px;
    }
    100%{
        transform: rotate(0deg);
        margin-left: 100px;
        margin-top: 0px;
    }
}

.LeftFin {
    transform: rotate(-25deg);
    position: absolute;
    left: -100px;
    margin-top: -30px;
    height: 300px;
    width: 300px;
    background-image: url(/img/fish/LeftFin.png);
    background-size: auto;
    background-repeat: no-repeat;
    z-index: -1;
    animation-name: animateLeftFin;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;

}

@keyframes animateLeftFin {
    0%{
       transform: rotate(0deg);
        left: -100px;
    margin-top: -30px;
    }
    50%{
         transform: rotate(-20deg);
        left: -150px;
    margin-top: -60px;
    }
    100%{
        transform: rotate(0deg);
        left: -100px;
    margin-top: -30px;
    }
}

.eye {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background: white;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    overflow: hidden;
    animation-name: animateEye;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes animateEye {
    0% {
        height: 50px;
        width: 50px;
    }
    50%{
        height: 65px;
        width: 65px;
    }
    100% {
        height: 50px;
        width: 50px;
    }
}

#eyeLeft{
     margin-left: -189px;
}

#eyeRight{
    margin-left: 9px;
}

.iris {
    position: inherit;
    height: 30px;
    width: 30px;
    background: black;
    border-radius: 100px;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -20px;
  animation-name: animateIris;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;

}

@keyframes animateIris {
    0%{
        margin-top: -20px;
        height: 30px;
        width: 30px;
        margin-left: -10px;
    }
    50%{
        margin-top: -30px;
        height: 50px;
        width: 50px;
        margin-left: -25px;
    }
    100%{
        margin-top: -20px;
        height: 30px;
        width: 30px;
        margin-left: -10px;
    }
}

.mouth {
    overflow: hidden;
   height: 35px;
    width: 100px;
    border-radius: 50px;
    background: #fc8181;
    top: 70%;
    margin-top: -15px;
    left: 50%;
    margin-left: -80px;
    position: absolute;
    animation-name: animateMouth;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;

}

@keyframes animateMouth {
    0%{
        height: 35px;
        width: 100px;

    }
    50%{
        height: 50px;
        width: 150px;

    }
    100%{
        height: 35px;
        width: 100px;
    }
}

.mouthCenter {
    height: 16px;
    width: 60px;
    border-radius: 50px;
    background: #805800;
    margin-top: 8px;
    margin-left: 20px;
     animation-name: animateMouthCenter;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes animateMouthCenter {
    0%{
        height: 16px;
        width: 60px;
    }
    50%{
        height: 36px;
        width: 100px;
        background-color: black;
    }
    100%{
        height: 16px;
        width: 60px;
    }
}
