
.Gdlbody{
    background-color: #D6D2C0;
    overflow-x: hidden;
  }

  #map {
    margin-left: -325px;
    height: 750px;
    width: 650px;
    position:relative;
    top: 0;
    left: 50%;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }

 #GdlTitle {
   position: absolute;
   margin-top: -400px;
    top: 50%;
    font-size: 450px;
}


#FrontPng {
  margin-top: 2rem;
   left: 5%;
  background-position: top ;
  position: absolute;
   background-image: url(../../images/mexico/topFront.png);
  background-size: 120%;
  background-repeat: no-repeat;
  min-height: 1300px;
  height: 200%;
  width: 120%;
  margin-top: 80px;
}

  #Gdltop {
    overflow-x: hidden;
    position: relative;
    margin-top: -2rem;
    background-image: url(../../images/mexico/topBackground.png);
    background-position: top;
    background-size: 150%;
    position: static;
    min-height: 1200px;
    height: 100%;
    width: 100%;
  }

.Grow{
    background-color: #D6D2C0;
    float: left;
    height: 40%;
    margin-bottom: 0px;
    position: relative;
  }

  .GDLright {
    float: right;
    margin-right: 20px;
  }

  .GDLleft {
    float: left;
    margin-left: 20px;
  }


  #class a {
    display: block;
    position: flex;
    padding-left: 15px;
    margin-top: 15px !important;
    font-size: 18px;
    border-top: 2px solid;
    color: #B38A8B;
    &:after {
    z-index: -1;
    position: absolute;
    transition: .9s;
    content: '';
    width: 0;
    left: 0%;
    top: 0px;
    height: 40px;
    background: #9C4849;
  }
    &:hover {
    cursor: pointer;
    transform: scale(1);
    color: black;
    letter-spacing: 2;
        &:after {
  bottom: 0;
      width: 100%;
      left: 0;
    }

    }
  }



#videoMenu {
  margin-top: 50px;
  right: 0;
}

#bottom {

  padding: 5%;
  background-color: #9C4849;
  position: relative;
  float: left;
  display: inline-block;
}

  .GDLbottomBack {
    background-image: url(../../images/mexico/Roof.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    content: ' ';
    top:0;
    left: 0;
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }


#tlaq{
  color: white;
    float: left;
    margin-left: 12px;
    margin-right: 50px;
  }

  #tla{
    color: white;
      float: left;
      margin-left: 12px;
      margin-right: 50px;
    }


@media only screen and (max-width: 840px) {

  .Gdlbody{
    overflow-x: hidden;
  }

  #map {
    margin-left: -325px;
    height: 750px;
    width: 650px;
    position:relative;
    top: 0;
    left: 50%;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }

  #GdlTitle {
    position: absolute;
    top: 15%;
    left: 15%;
    margin-top: 20px;
     font-size: 120px;
 }

  #Gdltop{
    overflow-x: hidden;
    min-height: auto;
    height: 450px ;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #FrontPng {
    left: 0;
    background-position: left bottom;
    background-size: 160%;
    min-height: 600px;
    height: 100%;
    width: 100%;
    bottom: -0px;
  }

  #tla{
      margin-top: 10px;
    }
}


@media only screen and (max-width: 500px) {

  #map {
    margin-top: 0px;
    margin-left: -180px;
    height: 1000px;
    width: 370px;
    position:relative;
    top: 50%;
    left: 50%;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }

  .infoWindowContent{
  background-color: red;
  }

  #Gdltop{
    overflow-y: hidden;
    width: 100%;
    display:flex;
    min-height: auto;
    height: 400px !important;
    background-position: bottom;
  }

  #GdlTitle {
    position: fixed;
    top: 5%;
    left: 10%;
    margin-top: 20px;
    font-size: 62px;
 }

  #FrontPng {
    top: 0;
    left: 0;
    background-position: left;
    background-size: 160%;
    min-height: 600px;
    height: 100%;
    width: 100%;
    z-index: 0;
    position: relative;
  }

}
