  <ng-include src="'views/NavBar.html'"></ng-include>
  <div class="container">

    <h1>Interactive Design 1: Web</h1>
    <h3>Jose Ramirez</h3>

    <a ng-href="#/ixdWeek3">
    <div class="ClassPost">
      <h1>PHP navigation trick</h1>
      <p>Week 3 homework</p>
      <p>September 24, 2016</p>
    </div>
    </a>

    <a ng-href="#/ixdWeek2">
    <div class="ClassPost">
      <h1>A Vision for Our Sass by Felicity Evans</h1>
      <p>Week 2 homework</p>
      <p>September 24, 2016</p>
    </div>
    </a>

    <a ng-href="#/ixdAnimation">
    <div class="ClassPost">
      <h1>The Future of Web Animation with Val Head</h1>
      <p>Week 1 homework</p>
      <p>September 14, 2016</p>
    </div>
    </a>

  </div>
