<div class="container">
  <div class="IxdAnimation">
      <h1>A Vision for Our Sass by Felicity Evans</h1>
      <p>
        <a href="http://alistapart.com/article/a-vision-for-our-sass" target="_blank">In this article,</a> Felicity Evans talks about how the rise of SASS may lead to some bad practices by developers. One issue large issue is that people tend to have heavily nested selectors making it inefficient if one has to use the same style later. Though this issue isn't mutually exclusive to SASS, SASS makes it much easier to get these issues to happen because of it's nature. In SASS developers use spaces to define where in the DOM is being styled. in CSS, or even SCSS, these are defined within brackets but SASS has none of these so it becomes really easy for developers to edit objects based on their nested position. The Author suggests solutions by creating code standards, frameworks, and styling guides for SASS. Which makes sense if SASS is to follow like all other internet innovations, every language existed and grew in popularity before they became standard. <br><br>
	Aside from what she thinks about the future of SASS, she also describes her personal manifesto on best practices for using SASS. One thing that was completely new for me was using the @extend property which basically extends the css from another selector on to the selected class or id. In her Manifesto she gives some pretty good advice about good practices for using SASS. Including trying not to repeat one-self by using things like variables or @extend or placeholders. She mentions how it is important to be considerate of people who will view the code in the future by not adding too many plugins. Her advice is good but I can't help to think that some of these issues wouldn't exist if CSS adapted to some of the 'powers' of preprocessors. Especially the issues with running the preprocessors with ruby servers. The more popular SASS continues to get the higher the likelihood it will become standard and there will be a 'right-way' to use these tools.
      <br>
      <div id="back-Btn">
        <a  ng-href="#/ixdMain">Back</a>
      </div>


  </div>
</div>
