<div ng-include="'views/NavBar.html'"></div>
<div id="NYC2016_Background">





<div id="introNYCPrev">
  <div id="NycIPCircle">
    <div id="NYCPIImg"></div>
  </div>
  <h1>On June 3rd 2016 I will go to New York City for the First Time.</h1>
  <h6>I have never been to the east coast let alone the big apple and if that isn&#96;t exciting enough I'm also checking out a Music festival when I'm there! I'm really excited for this trip, so excited that I have spent the weeks leading up to this trip creating a
  map and listing out all the sights I have to see while I'm there. We only have four days to see as much as the city as we can and 3 of those nights will be spent at a music festival. There literally is no time for sleep!
  <div id="NYIclose"></div>
  </h6>
</div>

  <div id="nyPageMain">

    <h1 id="NYTit">New York City Bucket list</h1>

<div class="containMap">

  <div class="ImgSrc">
    <div id="NYCHome" class="NYCId"></div>
    <div id="NYCFest" class="NYCId"></div>
    <div id="NYCTimesSquare" class="NYCId"></div>
    <div id="NYCRockerfeller" class="NYCId"></div>
    <div id="NYCRadioCity" class="NYCId"></div>
    <div id="NYCMOMA" class="NYCId"></div>
    <div id="NYCStP" class="NYCId"></div>
    <div id="NYCUN" class="NYCId"></div>
    <div id="NYCGrandCentralTerminal" class="NYCId"></div>
    <div id="NYCChrysler" class="NYCId"></div>
    <div id="NYCEmpire" class="NYCId"></div>
    <div id="NYCMSG" class="NYCId"></div>
    <div id="NYCHighLine" class="NYCId"></div>
    <div id="NYCSOHO" class="NYCId"></div>
    <div id="NYCLittleItaly" class="NYCId"></div>
    <div id="NYC911" class="NYCId"></div>
    <div id="NYCStockExchange" class="NYCId"></div>
    <div id="NYCBull" class="NYCId"></div>
    <div id="NYCMBridge" class="NYCId"></div>
    <div id="NYCBrooklynBridge" class="NYCId"></div>
    <div id="NYCFlatiron" class="NYCId"></div>
    <div id="NYCJlennon" class="NYCId"></div>
    <div id="NYCGuggenheim" class="NYCId"></div>
    <div id="NYCFerry" class="NYCId"></div>
    <div id="NYCLiberty" class="NYCId"></div>
    <div id="NYCArc" class="NYCId"></div>
  </div>



      <div class="DescSide">

        <div class="NYCPrevDesc" id="NYDHome">
          <h2>Staying in beautiful Astoria</h2>
        </div>

        <div class="NYCPrevDesc" id="NYDFest">
          <h2>Governors Ball 2016</h2>
          <p>Catching Kanye West, The Killers, The Strokes, Miike Snow, Jamie XX, Galantis, and Duke Dumount.</p>
        </div>

        <div class="NYCPrevDesc" id="NYDTimesSquare">
          <h2>Times Square</h2>
          <p>The iconic center of the raging city and epicenter of everyones favorite holiday</p>
        </div>

        <div class="NYCPrevDesc" id="NYDRockerfeller">
          <h2>Rockerfeller Center</h2>
          <p>Pay tribute to all things illiminaughty </p>
        </div>

        <div class="NYCPrevDesc" id="NYDRadioCity">
          <h2>Radio City Music Hall</h2>
        </div>

        <div class="NYCPrevDesc" id="NYDMOMA">
          <h2>Museum of Modern Art</h2>
          <p>Artsy fartsy goodness in NYC, how would I not?</p>
        </div>

        <div class="NYCPrevDesc" id="NYDStP">
          <h2>Saint Patrick's Cathedral</h2>
          <p> So many of my favorite movie characters have had their weddings, funerals, and emotional break downs here. I am not religious but this church is a must see.</p>
        </div>

        <div class="NYCPrevDesc" id="NYDUN">
          <h2>United Nations</h2>
          <p>Where Foreign leaders unite to throw shade at eachother.</p>
        </div>

        <div class="NYCPrevDesc" id="NYDGrandCentralTerminal">
          <h2>Grand Central Terminal</h2>
          <p>World's most famous train station</p>
        </div>

        <div class="NYCPrevDesc" id="NYDChrysler">
          <h2>Chrysler Building</h2>
          <p>You have to love this rich, art decor inspired building</p>
        </div>

        <div class="NYCPrevDesc" id="NYDEmpire">
          <h2>Empire state Building</h2>
          <p>Once the tallest building in the world, now one of the oldest and most iconic skyscrapers.</p>
        </div>

        <div class="NYCPrevDesc" id="NYDMSG">
          <h2>Madison Square Garden</h2>
          <p>Former home of Laker legend Derek Fisher</p>
        </div>

        <div class="NYCPrevDesc" id="NYDHighLine">
          <h2>Highline Park</h2>
          <p>Old Railways turn public Park, say what?</p>
        </div>

        <div class="NYCPrevDesc" id="NYDSOHO">
          <h2>SOHO</h2>
          <p>Supposed to be really trendy but I'll be the judge of that</p>
        </div>

        <div class="NYCPrevDesc" id="NYDLittleItaly">
          <h2>Little Italy </h2>
        </div>

        <div class="NYCPrevDesc" id="NYD911">
          <h2>Ground Zero</h2>
          <p>Definitely the saddest destination to see, but one worth seeing.</p>
        </div>

        <div class="NYCPrevDesc" id="NYDStockExchange">
          <h2>New York Stock Exchange</h2>
          <p>America's Money Farm</p>
        </div>

        <div class="NYCPrevDesc" id="NYDBull">
          <h2>The Merril Lynch bull</h2>
        </div>

        <div class="NYCPrevDesc" id="NYDMBridge">
          <h2>Manhattan Bridge</h2>
        </div>

        <div class="NYCPrevDesc" id="NYDBrooklynBridge">
          <h2>Brooklyn Bridge</h2>
        </div>

        <div class="NYCPrevDesc" id="NYDFlatiron">
          <h2>Flat Iron Building</h2>
        </div>

        <div class="NYCPrevDesc" id="NYDJlennon">
          <h2>John Lennon Memorial</h2>
          <p>not to mention it's in Grand Central Park!</p>
        </div>

        <div class="NYCPrevDesc" id="NYDGuggenheim">
          <h2>Guggenheim museum</h2>
          <p>One of the most architectually unique buildings in the world.</p>
        </div>

        <div class="NYCPrevDesc" id="NYDFerry">
          <h2>Ferry Dock</h2>
          <p>Ferries here will take us to and from the Governor's Ball Festival in Randalls Island Park</p>
        </div>

        <div class="NYCPrevDesc" id="NYDLiberty">
          <h2>Statue of Liberty</h2>
          <p>Well actually battery park, closest you can get to the statue without leaving Manhattan.</p>
        </div>

        <div class="NYCPrevDesc" id="NYDArc">
          <h2>Washington Square Arch</h2>
        </div>

      </div>


    </div>
  </div>

</div>


<script>

$('#NYCHome').click( function(){
  $('#NYDHome').css("display", "block");
    $('#NYDHome').siblings().css('display', 'none');
    $('#NYCHome').css("background-color", "#65687F");
    $('#NYCHome').siblings().css('background-color', '#26273B');
});

$('#NYCFest').click( function(){
  $("#NYDFest").css("display", "block");
  $("#NYDFest").siblings().css('display', 'none');
  $('#NYCFest').css("background-color", "#65687F");
  $('#NYCFest').siblings().css('background-color', '#26273B');
});

$('#NYCTimesSquare').click( function(){
  $('#NYDTimesSquare').css("display", "block");
    $('#NYDTimesSquare').siblings().css('display', 'none');
    $('#NYCTimesSquare').css("background-color", "#65687F");
    $('#NYCTimesSquare').siblings().css('background-color', '#26273B');
});



$('#NYCRockerfeller').click( function(){
  $('#NYDRockerfeller').css("display", "block");
    $('#NYDRockerfeller').siblings().css('display', 'none');
    $('#NYCRockerfeller').css("background-color", "#65687F");
    $('#NYCRockerfeller').siblings().css('background-color', '#26273B');
});



$('#NYCRadioCity').click( function(){
  $('#NYDRadioCity').css("display", "block");
    $('#NYDRadioCity').siblings().css('display', 'none');
    $('#NYCRadioCity').css("background-color", "#65687F");
    $('#NYCRadioCity').siblings().css('background-color', '#26273B');
});



$('#NYCMOMA').click( function(){
  $('#NYDMOMA').css("display", "block");
    $('#NYDMOMA').siblings().css('display', 'none');
    $('#NYCMOMA').css("background-color", "#65687F");
    $('#NYCMOMA').siblings().css('background-color', '#26273B');
});


$('#NYCStP').click( function(){
  $('#NYDStP').css("display", "block");
    $('#NYDStP').siblings().css('display', 'none');
    $('#NYCStP').css("background-color", "#65687F");
    $('#NYCStP').siblings().css('background-color', '#26273B');
});


$('#NYCUN').click( function(){
  $('#NYDUN').css("display", "block");
    $('#NYDUN').siblings().css('display', 'none');
    $('#NYCUN').css("background-color", "#65687F");
    $('#NYCUN').siblings().css('background-color', '#26273B');
});

$('#NYCGrandCentralTerminal').click( function(){
  $('#NYDGrandCentralTerminal').css("display", "block");
    $('#NYDGrandCentralTerminal').siblings().css('display', 'none');
    $('#NYCGrandCentralTerminal').css("background-color", "#65687F");
    $('#NYCGrandCentralTerminal').siblings().css('background-color', '#26273B');
});

$('#NYCChrysler').click( function(){
  $('#NYDChrysler').css("display", "block");
    $('#NYDChrysler').siblings().css('display', 'none');
    $('#NYCChrysler').css("background-color", "#65687F");
    $('#NYCChrysler').siblings().css('background-color', '#26273B');
});

$('#NYCEmpire').click( function(){
  $('#NYDEmpire').css("display", "block");
    $('#NYDEmpire').siblings().css('display', 'none');
    $('#NYCEmpire').css("background-color", "#65687F");
    $('#NYCEmpire').siblings().css('background-color', '#26273B');
});

$('#NYCMSG').click( function(){
  $('#NYDMSG').css("display", "block");
    $('#NYDMSG').siblings().css('display', 'none');
    $('#NYCMSG').css("background-color", "#65687F");
    $('#NYCMSG').siblings().css('background-color', '#26273B');
});

$('#NYCHighLine').click( function(){
  $('#NYDHighLine').css("display", "block");
    $('#NYDHighLine').siblings().css('display', 'none');
    $('#NYCHighLine').css("background-color", "#65687F");
    $('#NYCHighLine').siblings().css('background-color', '#26273B');
});

$('#NYCSOHO').click( function(){
  $('#NYDSOHO').css("display", "block");
    $('#NYDSOHO').siblings().css('display', 'none');
    $('#NYCSOHO').css("background-color", "#65687F");
    $('#NYCSOHO').siblings().css('background-color', '#26273B');
});

$('#NYCLittleItaly').click( function(){
  $('#NYDLittleItaly').css("display", "block");
    $('#NYDLittleItaly').siblings().css('display', 'none');
    $('#NYCLittleItaly').css("background-color", "#65687F");
    $('#NYCLittleItaly').siblings().css('background-color', '#26273B');
});

$('#NYC911').click( function(){
  $('#NYD911').css("display", "block");
    $('#NYD911').siblings().css('display', 'none');
    $('#NYC911').css("background-color", "#65687F");
    $('#NYC911').siblings().css('background-color', '#26273B');
});

$('#NYCStockExchange').click( function(){
  $('#NYDStockExchange').css("display", "block");
    $('#NYDStockExchange').siblings().css('display', 'none');
    $('#NYCStockExchange').css("background-color", "#65687F");
    $('#NYCStockExchange').siblings().css('background-color', '#26273B');
});

$('#NYCBull').click( function(){
  $('#NYDBull').css("display", "block");
    $('#NYDBull').siblings().css('display', 'none');
    $('#NYCBull').css("background-color", "#65687F");
    $('#NYCBull').siblings().css('background-color', '#26273B');
});

$('#NYCMBridge').click( function(){
  $('#NYDMBridge').css("display", "block");
    $('#NYDMBridge').siblings().css('display', 'none');
    $('#NYCMBridge').css("background-color", "#65687F");
    $('#NYCMBridge').siblings().css('background-color', '#26273B');
});

$('#NYCBrooklynBridge').click( function(){
  $('#NYDBrooklynBridge').css("display", "block");
    $('#NYDBrooklynBridge').siblings().css('display', 'none');
    $('#NYCBrooklynBridge').css("background-color", "#65687F");
    $('#NYCBrooklynBridge').siblings().css('background-color', '#26273B');
});

$('#NYCJlennon').click( function(){
  $('#NYDJlennon').css("display", "block");
    $('#NYDJlennon').siblings().css('display', 'none');
    $('#NYCJlennon').css("background-color", "#65687F");
    $('#NYCJlennon').siblings().css('background-color', '#26273B');
});

$('#NYCFerry').click( function(){
  $('#NYDFerry').css("display", "block");
    $('#NYDFerry').siblings().css('display', 'none');
    $('#NYCFerry').css("background-color", "#65687F");
    $('#NYCFerry').siblings().css('background-color', '#26273B');
});

$('#NYCLiberty').click( function(){
  $('#NYDLiberty').css("display", "block");
    $('#NYDLiberty').siblings().css('display', 'none');
    $('#NYCLiberty').css("background-color", "#65687F");
    $('#NYCLiberty').siblings().css('background-color', '#26273B');
});

$('#NYCGuggenheim').click( function(){
  $('#NYDGuggenheim').css("display", "block");
    $('#NYDGuggenheim').siblings().css('display', 'none');
    $('#NYCGuggenheim').css("background-color", "#65687F");
    $('#NYCGuggenheim').siblings().css('background-color', '#26273B');
});

$('#NYCFlatiron').click( function(){
  $('#NYDFlatiron').css("display", "block");
    $('#NYDFlatiron').siblings().css('display', 'none');
    $('#NYCFlatiron').css("background-color", "#65687F");
    $('#NYCFlatiron').siblings().css('background-color', '#26273B');
});

$('#NYCArc').click( function(){
  $('#NYDArc').css("display", "block");
    $('#NYDArc').siblings().css('display', 'none');
    $('#NYCArc').css("background-color", "#65687F");
    $('#NYCArc').siblings().css('background-color', '#26273B');
});

$('#NYIclose').click( function(){
  $("#introNYCPrev").addClass('NYIHide');
});


</script>
