<main class="mainBody">
        <div ng-include="'views/NavBar.html'"></div>
        <div ng-include="'views/BlogHeader.html'"></div>


<div class="mainBlog">
    <div class="container" id="mainBlogID">


          <a ng-href="#/GDL2016">
              <div class="thumbnail BlogTemp">
                <img src="images/mexico/image4.JPG" alt="...">
                <div class="captionBlog">
                  <h3>Return to the home land</h3>
                  <p>April, 2016</p>

                </div>
              </div>
          </a>

          <a ng-href="#/PufferFish">
              <div class="thumbnail BlogTemp" >
                <img src="img/fish/fishStill.png" alt="..." align="bottom">
                <div class="captionBlog">
                  <h3>Puffer Fish</h3>
                  <p>January 24, 2016</p>

                </div>
              </div>
          </a>








            <a ng-href="#/Original">
            <div class="thumbnail BlogTemp" >
              <img src="img/originalDesignScreenShot.png" alt="...">
              <div class="captionBlog">
                <h3>the end of a Era</h3>
                <p>December 15, 2015</p>

                  </h4>
              </div>
            </div>
                </a>


            <a ng-href="#/EvolutionOfaSong">
            <div class="thumbnail BlogTemp" id="DrakeContainer">
              <img src="img/culturedSpin_second.png" alt="...">
              <div class="captionBlog">
                <h3>Evolution Of a Song</h3>
                <p>September 24, 2015</p>
</div>
            </div>
            </a>



              <a ng-href="#/plannedParenthood">
            <div class="thumbnail BlogTemp">
              <img src="img/polilaugh.jpg" alt="PlannedParenthood">
              <div class="captionBlog">
                <h3>Save Planned Parenthood</h3>
                <p>September 24, 2015</p>
                  <br>

              </div>
            </div>
            </a>




    </div>
</div>

        <div ng-include="'views/footer.html'"></div>
    </main>
