
<footer class="mainBody">
        <div class="Menu">
        <h1>Contact me</h1>
            <a href="mailto:jrramirez1994@gmail.com" target="_top">
              <h3 class="emailBlock">
              <span class="glyphicon glyphicon-envelope"></span>       jrramirez1994@gmail.com</h3>
            </a>


            <p>I communicate primarily over e-mail. Please e-mail me for any questions or thoughts. Connect with me and follow my design and creative progress in the links below. </p>

            <h3 class=" emailBlock"><a href="http://www.codepen.io/goawayjose" target="_blank"><i class="fa fa-lg fa-codepen"></i></a></h3>
            <h3 class=" emailBlock"><a href="http://www.github.com/goawayjose" target="_blank"><i class="fa fa-lg fa-github"></i></a></h3>
            <h3 class=" emailBlock"><a href="http://www.instagram.com/goawayjose" target="_blank"><i class="fa fa-lg fa-instagram"></i></a></h3>
            <h3 class=" emailBlock"><a href="http://www.soundcloud.com/jose-obligated" target="_blank"><i class="fa fa-lg fa-soundcloud"></i></a></h3>

            <h6>	&copy; Copyright by Jose Ramirez 2014-2016. All Rights Reserved. </h6>
    </div>
<div id="rightSide"></div>

    </footer>
