
<footer class="mainBody">
        <div class="Menu">
        <h1>Contact me</h1>
            <h3>
                <span class="glyphicon glyphicon-envelope">     </span>   jrramirez1994@gmail.com</h3>
            <p>I communicate primarily over e-mail. Please e-mail me for if you have any questions or thoughts, I am always open to new ideas. I also like to connect with people and exchange content over my social media accounts below. </p>


            <h3 class="IconRow"><a href="http://www.github.com/goawayjose" target="_blank"><i class="fa fa-lg fa-github"></i></a></h3>
            <h3 class="IconRow"><a href="http://www.instagram.com/goawayjose" target="_blank"><i class="fa fa-lg fa-instagram"></i></a></h3>
            <h3 class="IconRow"><a href="http://www.soundcloud.com/jose-obligated" target="_blank"><i class="fa fa-lg fa-soundcloud"></i></a></h3>

            <h6>	&copy; Copyright by Jose Ramirez 2014-2016. All Rights Reserved. </h6>
    </div>


    </footer>
