<nav>

      <ul>
          <li><a ng-href="#/blog"><div>Goawayjose</div></a></li>
          <li><a ng-href="#/portfolio"><div>Portfolio</div></a></li>
            <li class="mobileHide"><a href="http://www.github.com/goawayjose" target="_blank"><i class="fa fa-lg fa-github"></i></a></li>
            <li class="mobileHide"><a href="http://www.instagram.com/goawayjose" target="_blank"><i class="fa fa-lg fa-instagram"></i></a></li>
            <li class="mobileHide"><a href="http://www.soundcloud.com/jose-obligated" target="_blank"><i class="fa fa-lg fa-soundcloud"></i></a></li>
      </ul>
</nav>
