
    <main class="mainBody" >
<div class="row"><div id="One">
        <div class="portMenu" id="TitleLeft">
            <h1>Jose Ramirez</h1>
            <h5>Web Developer</h5>
            <h1 id="gitIconTitle"><a href="http://www.github.com/goawayjose"><i class="fa fa-lg fa-github"></i></a></h1>
       </div>
        <div class="portMenu" id="TitleRight">

      <h4 align="center">Computer design is the most relevant and growing artform in the world.</h4>
      <p>&nbsp;My goal is to develop aesthetically great, functioning online sites. I focus on the aesthetic design of the page as well as the users-interaction with the page. I try to maintain a high level of creativity while making the page managable to new users. I take this approach with all my projects running multiple tests and constantly updating work. It is also of the upmost importance to make the sites cross compatible across deferent platforms and browsers. For some projects there may be multiple designs just to accommodate to certain devices.  </p>
      <p>
 This industry is always changing and I wish to adapt with it as it grows; in order to produce the most technologically advanced and naturally flowing web experiences possible. I want to put my skills to good use designing all sorts of sites from fun creative sites to more straightforward corporate style sites. It&rsquo;s my mission in life to create memorable online experiences and look forward to working with anyone who can help me achieve this goal.

</p>
        </div>

    </div>
 </div>

<a href="http://goawayjose2.com/designProcess/designProcess.html"><div id="largeWindow">
    <div class="ease"></div>
            <div class="CenterSquare">

         <h2>Process of Design</h2>
            </div>
        </div>
    </a>


<div class="row" id="toolRow">
         <div class="portMenu" id="ToolImage">
             <h2>TOOLS</h2>
            </div>

            <div class="ToolsDescription">

                <h1 id="toolsImgTitle">Languages and frameworks I've used recently:</h1>

                <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" width="80px" height="80px" src="img/HTML5_logo_and_wordmark.png" alt="html">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Of course I always use Html and CSS, the main languages of the web.</h4>
  </div>
</div>
                <div class="media">
                    <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" width="70px" height="70px" src="img/sass.png" alt="sass">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">I Also utilize the simplicity of Sass.</h4>
    </div>
                </div>

                <div class="media">
                    <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object" width="100px" height="100px" src="img/jslogo.jpg" alt="javascript">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">JavaScript is my favorite tool for the web. </h4><p>It's works so naturally with web pages and it seems like the possibilities for this language are endless. Along with <strong>Jquery</strong>, I use Javascript on all my web projects.</p>
    </div>
                </div>

        <div class="media">
                    <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" width="100px" height="100px" src="img/meteor.svg" alt="meteor">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">MeteorJs is my favorite javascript framework and package manager. </h4><p>After only a three months of working with meteor it has quickly become my favorite javascript frame work because of the wide range of possibilities it offers. It works as a framework, a package manager, and an appbuilder.</p>
    </div>
                </div>

        <div class="media">
                    <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" width="100px" height="100px" src="img/AngularJS-Shield-large.png" alt="angular">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Angular is another framework I love to utilize. </h4><p>Angular works great with meteor, the best part about angular is it the additional plug-ins it has. Some of the angular plug ins I've used are ng-cordova for mobile app development, angular-ui-router, and angular-animate.</p>
    </div>
                </div>

        <div class="media">
                    <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" width="150px" height="150px" src="img/creativesuit.png" alt="adobe creative suite">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">I'm a Creative Suite Junkie.</h4>
        <p>I've used Adobe programs to create and design content for the past 7 years. The primary tools from creative suite that I use for every project are Illustrator and Photoshop. I also use Edge Animate to create some great animations that are written in Javascript. I only use Dreamweaver for it's FTP tool but Adobe Brackets is my primary text editor.</p>
    </div>
                </div>

                <div class="media">
                    <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" width="100px" height="100px" src="img/yeoman-logo.png" alt="yeoman">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Though Meteor has replaced Yeoman as my primary build tool I still use Yeoman to develop great compiled HTML E-mails.</h4>
    </div>
                </div>

                <div class="media">
                    <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" width="100px" height="100px" src="img/bootstrap.png" alt="bootstrap">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">I love using bootstrap as a CSS framework. It makes it really easy for me to create great responsive designs. I use bootstrap on almost all of my projects as well. </h4>
    </div>
                </div>



             </div>

        </div>

<div classs="row" id="websites">
            <h1>Sample of online work</h1>
    <div class="websiteContents">

            <div class="sites">
                 <a ng-href="#/blog">
                    <div class="SiteImg" id="site1"></div>
                    <br>
                    <h4>My Blog</h4>
                    <h5>Goawajose.com/blog</h5>
                </a>
            </div>

         <div class="sites">
                <a href="http://www.geosfoli.com" target="_blank">
                    <div class="SiteImg" id="site2"></div>
                    <h4>Electronic DJ: <br>
                        Geosf' Oli</h4>
                    <h5>geosfoli.com</h5>
                </a>
            </div>

            <div class="sites">
                <a href="http://www.musicsanctuary.altervista.com" target="_blank">
                    <div class="SiteImg" id="site3"></div>
                    <br>
                    <h4>Fictious Music Site</h4>
                    <h5>musicsanctuary.altervista.com</h5>
                </a>
            </div>
            <div class="sites">
                <a href="http://www.drmcinema.com" target="_blank">
                    <div class="SiteImg" id="site4"></div>
                    <h4>Film maker Daniel Mayugba</h4>
                    <h5>Drmcinema.com</h5>
                </a>
            </div>

    </div>
</div>

<div ng-include="'views/footer.html'"></div>

    </main>
