<main class="pufferFish">



       <div ng-include="'views/NavBar.html'"></div>

       <div class="Puffbody">

           <div class="TopHead">
                <div class="LeftFin"></div>
           <div class="RightFin"></div>
               <div class="headshape"></div>
                       <div class="eye" id="eyeLeft">
                           <div class="iris"></div>
                       </div>
                       <div class="eye" id="eyeRight">
                           <div class="iris"></div>
                       </div>
               <div class="topLip"></div>
               <div class="bottomLip"></div>
               <div class="mouth">
                   <div class="mouthCenter"></div>
               </div>
           </div>
       </div>

   </main>
