<html>

<style>
  h1 {
    margin-left: 20px;
    font-size: 120px;
    float: left;
  }

  .footer  {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 50px;
    color: white;
    background: black;
    font-size: 24px;
    bottom: 0;
  }

  .vid {
    margin-top: 75px;
  }

</style>

<body>
  <div class="col-md-6 col-sm-12">
  <h1>Keep </br>
    the </br>
    Internet </br>
    Weird</h1>
</div>
<div class="col-md-6 col-sm-12">
  <iframe class="vid" width="420" height="315" src="https://www.youtube.com/embed/rLy-AwdCOmI" frameborder="0" allowfullscreen></iframe>
</div>
  <a href="#/Original"><div class="footer">Back</div></a>

<body>
</html>
